<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="testsuite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
 
    <!-- whitelisting section.
         All php files in the app directory will be whitelisted for testing
    -->
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./</directory>            
			<exclude>
				<directory>./test</directory>
        <directory>./vendor</directory>        
			</exclude>
        </whitelist>
    </filter>
    
    <logging>
      <log type="coverage-html" target="./log/coverage" lowUpperBound="35"
       highLowerBound="85"/>
    </logging>
    <php>
      <const name="TEST_ROOT_DIR" value="D:\xampp\htdocs\phpmock"/>      
    </php>     
</phpunit>